*{
  box-sizing: border-box;
  font-size: 25px;
  font-weight: 100;
}
header, footer{
  height: 10vh;
  padding: 10px;
  background-color: rgb(233, 195, 207);
}
body{
  margin: 0;
}
main{
  display: flex;
  height: 80vh;
  flex-direction: row;
  
}
article{
  width: 100%;
  padding: 20px;
  background-color: rgb(241, 237, 170);
}
aside{
  width: 20%;
  padding: 20px;
  background-color: aqua;
}
nav{
  width: 20%;
  background-color: blueviolet;
}
.container {
  display: flex;
  column-gap: 30px;

}
.field {
  display: flex;
  margin-bottom: 5px;
}
.field label {
  flex: 0.5;
  padding-bottom: 5px;
}
.flex-item.left{
  padding-right: 20px;
  width: 60%;
}

.field input {
  flex: 1;
  padding: 10px;}
.field select{
  flex: 1;
  padding: 5px;
}

.btn-container {
  text-align: center;
  margin-top: 30px;
}

input[type="submit"] {
  border: 0;
  padding: 20px;
  background-color: rgb(180, 165, 167);
  border-radius: 5px;
}
input[type="submit"]:hover {
  cursor: pointer;
}
form {
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: 100%;
}